body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
header,
h1 {
  font-size: 20px;
}
.main-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex: 0 0 auto;
}
button {
  background: none;
  border: none;
  background-color: rgb(79, 79, 240);
  padding: 10px;
  border-radius: 20px;
  flex: 0 1 auto;
}
.book-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}
input {
  border-radius: 7px;
  border: solid 2px;
}
.button-form {
  gap: 20px;
}
.book-form-space {
  flex: 1;
}
.books-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.book {
  border: solid 1px blue;
  margin-right: 20px;
  margin-bottom: 20px;
}
