body {
  background-color: aquamarine;
}
header,
h1 {
  font-size: 20px;
}
.main-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
button {
  background: none;
  border: none;
  background-color: rgb(79, 79, 240);
  padding: 10px;
  border-radius: 20px;
}
.book-form{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}
.button-form{
  gap: 20px;
}